* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
.containerHeader {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
header {
  height: 70px;
  background-color: #000;
}
header > div {

  display: flex;
  align-items: center;

}
.red {
  color: red;
}
#wrapLogo {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 15px;
}
#wrapSearch {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  padding-right: 15px;
}
