* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.sfondoNero {
  background-color: rgb(20, 20, 20);
}
header {
  height: 70px;
  background-color: #000;
}

header>div {
  align-items: center;
}

.red {
  color: red;
}
.bandieraNazione {
  max-width: 40px;
}
.card {
  position: relative;
  margin:15px 15px 15px 15px;
  width: 342px;
  height: 513px;
  border: 1px solid white;
  cursor: pointer;
}
.card .wrapImg img:hover {
  background-color: red;
}
#wrapLogo {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding-left: 15px;
}

#wrapSearch {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  padding-right: 15px;
}
#wrapSearch input {
  height: 30px;
  width: 200px;
}
main {
  margin-left: 15px;
  margin-right: 15px;
}
#wrapSearch button {
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

main #filmInfoResult {
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.infoText {
 display: none;
 position: absolute;
 top: 0;
 left: 5px;
}
