* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  background-color: red;
}
header {
  display: flex;
  height: 70px;
  background-color: #000;
}
header > div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

}
#wrapLogo {
  justify-content: flex-start;
  background-color: yellow;
  padding-left: 15px;
}
#wrapSearch {
  justify-content: flex-end;
  background-color: orange;
  padding-right: 15px;

}
